# Аудио файлы
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac
*.wma
*.aiff
*.alac
*.ape
*.opus

# Видео файлы
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp

# Текстовые файлы
*.txt
!requirements.txt


# Субтитры
*.srt
*.sub
*.ssa
*.ass
*.vtt

# Временные файлы
*.tmp
*.temp 

# md файлы
/cursor_video_to_audio_transcription_pro.md

__pycache__/